Source: node-seq
Section: javascript
Priority: optional
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Yadd <yadd@debian.org>
Build-Depends: debhelper-compat (= 13)
 , dh-sequence-nodejs
 , node-chainsaw <!nocheck>
 , node-hashish <!nocheck>
Standards-Version: 4.6.0
Vcs-Browser: https://salsa.debian.org/js-team/node-seq
Vcs-Git: https://salsa.debian.org/js-team/node-seq.git
Homepage: https://github.com/substack/node-seq
Testsuite: autopkgtest-pkg-nodejs
Rules-Requires-Root: no

Package: node-seq
Architecture: all
Depends: ${misc:Depends}
 , node-chainsaw
 , node-hashish
Description: Chainable asynchronous flow control
 Seq is an asynchronous flow control library with a chainable interface for
 sequential and parallel actions. Even the error handling is chainable.
 .
 Each action in the chain operates on a stack of values. There is also a
 variables hash for storing values by name.
 .
 Node.js is an event-based server-side JavaScript engine.
